.logo {
    color: $accent-color;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo__darck {
    color: $title-text-color;
}

.logo__light {
    color: $secondary-text-color;
}