.section {
    padding-top: 60px;
    padding-bottom: 60px;
    &.section--nopadding {
        padding-top: 0px;
    }
   
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}   

.section--nopadding {
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.section--another-background {
    background: $secondary-bg-color;
}

.section__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    color: $title-text-color; 
   
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}