$main-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$secondary-text-color: #FFFFFF;
$secondary-bg-color: #F5F4FA;
$footer-color: #2F303A;

$font-main: "Roboto", Tahoma, sans-serif;
$font-logo: 'Raleway';

$radius: 4px;